html, body, #__nuxt {
  height: 100%;
}

#app-container {
  min-height: 100%;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.font-brand {
  font-family: 'Dancing Script', cursive;
}
