@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

/* https://ui.nuxt.com/getting-started/theme#tailwind-css */
@theme static {
  --ui-bg: #fffffff;
}

.dark {
  --ui-bg: #000000;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
